<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLT Framework Decision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Framework de Decisão DLT para o Setor de Saúde</h1>

        <form method="POST" action="/calcular">
            <div class="slider-group">
                <label for="seguranca">Peso para Segurança: <span id="segurancaValue">0.5</span></label>
                <input type="range" id="seguranca" name="seguranca" min="0" max="1" step="0.1" value="0.5" oninput="updateSliderValue('seguranca', 'segurancaValue')">
            </div>

            <div class="slider-group">
                <label for="escalabilidade">Peso para Escalabilidade: <span id="escalabilidadeValue">0.5</span></label>
                <input type="range" id="escalabilidade" name="escalabilidade" min="0" max="1" step="0.1" value="0.5" oninput="updateSliderValue('escalabilidade', 'escalabilidadeValue')">
            </div>

            <div class="slider-group">
                <label for="eficiencia_energetica">Peso para Eficiência Energética: <span id="eficienciaValue">0.5</span></label>
                <input type="range" id="eficiencia_energetica" name="eficiencia_energetica" min="0" max="1" step="0.1" value="0.5" oninput="updateSliderValue('eficiencia_energetica', 'eficienciaValue')">
            </div>

            <div class="slider-group">
                <label for="governanca">Peso para Governança: <span id="governancaValue">0.5</span></label>
                <input type="range" id="governanca" name="governanca" min="0" max="1" step="0.1" value="0.5" oninput="updateSliderValue('governanca', 'governancaValue')">
            </div>

            <div class="slider-group">
                <label for="custos">Peso para Custos: <span id="custosValue">0.5</span></label>
                <input type="range" id="custos" name="custos" min="0" max="1" step="0.1" value="0.5" oninput="updateSliderValue('custos', 'custosValue')">
            </div>

            <button type="submit">Calcular</button>
        </form>

        {% if resultados %}
        <h2>Classificação das DLTs:</h2>
        <ul>
            {% for dlt, pontuacao in resultados %}
            <li>{{ dlt }}: Pontuação Total: {{ pontuacao }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
